<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RTSMS_Server_Phase.Properties.Settings.Backup_11_11_2010ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Backup_11_11_2010.mdb"
            providerName="System.Data.OleDb" />
        <add name="RTSMS_Server_Phase.Properties.Settings.Setting" connectionString="            using (SqlConnection sql = new SqlConnection())&#xA;            {&#xA;                sql.ConnectionString = ConfigurationManager.ConnectionStrings[&quot;bid_dbConnectionString1&quot;].ConnectionString;&#xA;                sql.Open();&#xA;                SqlCommand sqlcommand = new SqlCommand(listcategory, sql);&#xA;                SqlDataReader reader = sqlcommand.ExecuteReader();&#xA;                catg_id.Items.Clear();&#xA;                while (reader.Read())&#xA;                {&#xA;                    ListItem itm = new ListItem(reader.GetString(1), reader.GetInt32(0).ToString());&#xA;                    catg_id.Items.Add(itm);&#xA;                }&#xA;                reader.Close();&#xA;                sql.Close();&#xA;            }&#xA;" />
        <add name="RTSMS_Server_Phase.Properties.Settings.RSSReaderConnectionString"
            connectionString="Data Source=./;Initial Catalog=rtsmsdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RTSMS_Server_Phase.Properties.Settings.SQLServerRTSMSDBConnectionString"
            connectionString="Data Source=./;Initial Catalog=rtsmsdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>